<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/static/toolkit/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/blog/css/register.css">
</head>
<body>
<div>
    <div class="navbar-header">
        <a class="navbar-brand" href="#">博客园</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li class="active"><a href="/index/">首页<span class="sr-only">(current)</span></a></li>
            <li><a href="/login/">登录</a></li>
            <li><a href="javascript:;">注册</a></li>
        </ul>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-md-offset-3">
                <h3>注册新用户</h3>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">

                <form id="form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="avatar">
                            头像
                            <img src="/static/blog/img/default.png" alt="头像" id="avatar_img" width="60" height="60">
                        </label>
                        <input type="file" id="avatar" name="avatar" style="display: none">
                    </div>
                    {% for field in form %}
                        <div class="form-group">
                            <label for="{{ field.auto_id }}">{{ field.label }}</label>
                            {{ field }} <span class="error pull-right"></span>
                        </div>
                    {% endfor %}
                    <input type="button" class="btn btn-default reg_btn" value="提交"><span class="error"></span>
                </form>

            </div>
        </div>

    </div>
</div>
</body>
<script src="/static/toolkit/jquery-3.3.1.js"></script>
<script src="/static/blog/js/register.js"></script>
</html>